html {
    height: 100%;
}

body {
    background-color: lavender !important;
    font-family: "Toppan Bunkyu Midashi Gothic", sans-serif !important;
    font-weight: 100;
    color: #333333;
    height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.page-container {
    width: 80vw;
}


header {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer {
    margin-top: 2rem;
}

.title-and-nav {
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: 5px;
}

hr {
    width: 100%;
    margin-bottom: 40px !important;
}

.auth-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth {
    display: inline-block;
    background-color: #f2f2f2;
    margin: 60px;
    padding: 60px 60px;
    border-radius: 25px;
}

.button {
    font-family: "Raleway", sans-serif;
    background-color: #f2f2f2;
    padding: 5px 15px;
    border-radius: 15px;
    color: #333333;
    border: 1px solid #333333;
}

.button:hover {
    background-color: #ededed;
    border: 1px solid #000000;
}

.recipe-card-image {
    width: 100%;
    border-radius: 8px;
    border: solid white 2px;
    object-fit: cover;
}

.favorite-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.favorite-button-container {
    position: relative;
}

.recipe-card {
    width: 100%;
}

.pagination-button {
    margin: 0 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.image-closeup {
    height: 30em;
    width: 22em;
    border: solid white 2px;
    object-fit: cover;
}

.recipe-closeup {
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    position: relative;
    width: 550px;
}

#currentStep {
    display: inline-block;
}

.form-control.input-for-numbers {
    width: 150px;
}

button.add-or-remove-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    display: inline;
    margin: 0 5px !important;
}

.button-container {
    width: 7em;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-card-section-container {
    margin-left: 0 !important;
}

.recipe-card-section {
    margin-bottom: 100px;
}

.pagination-buttons {
    margin-top: 15px;
}

.pagination-button-previous {
    margin-left: 0;
}

.delete-update-buttons-container {
    display: flex;
    gap: 10px;
}
