body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom right, white, #4fc47f) no-repeat fixed;
    background-size: cover;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
}

.page-container {
    width: 80vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Toppan Bunkyu Midashi Gothic", sans-serif;
}


header {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.display-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer {
    margin-top: 2rem;
}

.title-and-nav {
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: 5px;
}

hr {
    width: 100%;
    margin-bottom: 40px !important;
}

.auth-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth {
    display: inline-block;
    width: 20em;
    margin: 60px;
    padding: 30px 30px;
    border-radius: 25px;
    background-color: #f2f2f2;
    border: 3px solid #20c997;
    box-shadow: 0 0 50px #20c997;
}


.recipe-card-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.favorite-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.favorite-button-container {
    position: relative;
}

.recipe-card {
    width: 100%;
}

.pagination-button {
    margin: 0 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.image-closeup {
    height: 30em;
    width: 22em;
    border: solid white 2px;
    object-fit: cover;
}

.recipe-closeup {
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    position: relative;
    width: 550px;
}

#currentStep {
    display: inline-block;
}

.form-control.input-for-numbers {
    width: 150px;
}

button.add-or-remove-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    display: inline;
}

.button-container {
    width: 7em;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.recipe-card-section {
    margin-bottom: 100px;
    background: linear-gradient(to bottom right, white, #f2f2f2);
    padding: 40px;
    border-radius: 20px;
}

.pagination-buttons {
    margin-top: 15px;
}

.pagination-button-previous {
    margin-left: 0;
}

.form-control::placeholder {
    font-family: "Arial Narrow";
}

button.btn-primary.primary-button {
    background-color: #20c997;
    border: none;
}

button.btn-primary.primary-button:hover {
    transform: scale(1.05);
    background-color: #1aa67f;

}

.nav-link.primary-nav-link {
    color: #20c997;
}

.nav-link.primary-nav-link:hover {
    color: #1aa67f;
}

.create-container, .profile-container, .recipe-closeup {
    background: linear-gradient(to bottom right, white, #f2f2f2);
    width: 860px;
    padding: 40px 60px;
    border-radius: 20px;
}

.create-page, .profile-page, .recipe-closeup-page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-toggle::after {
    display: none !important;
}

.profile-options-dropdown-toggle:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #20c997;
}